<h1>Liste des Livres Triée par Auteur</h1>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Référence</th>
                <th>Titre</th>
                <th>Catégorie</th>
                <th>Date de Publication</th>
                <th>Publié</th>
                <th>Auteur</th>
            </tr>
        </thead>
        <tbody>
            {% for book in books %}
                <tr>
                    <td>{{ book.ref }}</td>
                    <td>{{ book.title }}</td>
                    <td>{{ book.category }}</td>
                    <td>{{ book.publicationDate|date('d-m-Y') }}</td>
                    <td>{{ book.published ? 'Oui' : 'Non' }}</td>
                    <td>{{ book.author.username }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>